<table *ngIf="tableData">
  <thead>
    <th  *ngFor="let eachField of tableData.fields">
      <span>{{eachField.label}}</span>
    </th>
  </thead>
  <tbody>
      ableData.data.length  ==>>> {{tableData.data.length }}
    <template *ngIf="tableData.data.length > 0">
        <tr *ngFor="let eachData of tableData.data">
            <td  *ngFor="let fields of tableData.fields">
              <span>{{eachData[eachField]}}</span>
            </td>
          </tr>
      <ng-container>
        
      </ng-container>
    </template>
    <template *ngIf="tableData.data.length <= 0">
      <label>No data to display</label>
    </template>
  </tbody>
</table>