<gem-header></gem-header>
<div class="row"></div>
<gem-sidepane class="side-nav"> </gem-sidepane>


<!-- <div class="">

  <div class="">
    <div class="">
      <gem-sidepane> </gem-sidepane>

    </div>
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!--<ng-container>-->

  <!--<mat-sidenav-container class="example-container">-->
    <!--<mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav">-->
    <!--&lt;!&ndash;<gem-sidepane></gem-sidepane>&ndash;&gt;-->
      <!--<section><a href='portal users'> Portal Users</a></section>-->

      <!--<section><a href='device users'> Device Users</a></section>-->

    <!--</mat-sidenav>-->

    <!--<mat-sidenav-content>-->
      <!--<ng-container>-->
        <!--<router-outlet></router-outlet>-->
      <!--</ng-container>-->

    <!--</mat-sidenav-content>-->
  <!--</mat-sidenav-container>-->

<!--</ng-container>-->



